$wrapperWidth: 1363px;

.wrapper {
	width: 90%;
	max-width: $wrapperWidth;
	margin: auto;
}

// cores

$branco: #FFFFFF;
$azul-escuro: #253E92;
$azul-pastel: #748EC8;
$azul-ciano: #00AAAC;
$vermelho: #B91818;
$laranja: #DA6F12;
$amarelo: #FCC200;
$cinza: #484848;
$cinza-claro: #00000029;
$bg-cinza: #F8F8F8;