.footer {
    position: relative;
    background: $azul-escuro 0% 0% no-repeat padding-box;
    display: flex;
    // margin-top: 21.2rem;

    @include sm {
        flex-wrap: wrap;
    }

    .wrapper {
        max-width: 1086px;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: 7.855rem auto 7.2rem;

        @include sm {
            row-gap: 57px;
            margin-top: 67.83px;
        }

        a {
            display: flex;
            align-items: center;
            
            font-size: 2.1rem;
            color: $branco;

            @include sm {
                width: 50%;
                flex-direction: column;
                font-size: 21px;
            }

            img {
                margin-right: 2rem;

                @include sm {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }

        p {
            width: 100%;

            font-size: 2rem;
            text-align: center;
            color: $branco;
            line-height: 3rem;

            margin-top: 6.7rem;

            @include sm {
                font-size: 20px;
                line-height: 30px;
                margin-top: 13px;
                margin: 13px auto 0;

                width: 248px;
            }
        }
    }

    .seta {
        position: absolute;
        top: 9.308rem;
        right: 15.904rem;

        @include lg {
            top: 50%;
            transform: translateY(-50%);
            right: 5%;
        }

        @include md {
            top: 70%;
        }

        @include sm {
            position: relative;
            top: initial;
            right: initial;
            margin: 95px auto 60px;
            transform: none;
        }

        svg path {
            transition: .3s all;
        }

        &:hover {
            .seta__circle, .seta__background {
                fill: $azul-ciano;
            }

            .seta__arrow {
                fill: $branco;
            }
        }
    }
}