.header {
    position: relative;
    
    &__blue {
        width: 100%;
        height: 29.5rem;
        z-index: 1;
        position: relative;
        z-index: 9998;
        display: none;
        
        @include sm {
            background-color: $azul-escuro;
            height: 111px !important;
        }

        figure svg {
            position: absolute;
            top: -.1rem;
            left: 0;
            width: 100%;
            height: auto;

            @include sm {
                top: 19.5rem;
            }
        }

        .wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;

            @include sm {
                align-items: center;
                padding-top: 5%;
            }

            img {
                max-width: 47.7rem;
                margin-top: 5.535rem;

                @include sm {
                    margin-top: 0;
                    width: 181.43px;
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            column-gap: 4rem;
            margin-top: 7.9rem;

            @include sm {
                margin-top: 0;
                display: none;
            }
            
            a {
                font-size: 2.7rem;
                line-height: 4.1rem;
                color: $branco;

                &:hover {
                    color: $azul-ciano;
                    font-weight: 700;
                }
            }
        }
    }

    &__fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9997;

        width: 100%;
        height: 11.3rem;

        @include sm {
            height: 70px;
        }

        background: $branco 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px $cinza-claro;
        opacity: 1;
        
        display: flex;
        justify-content: center;
        align-items: center;


        .wrapper {
            display: flex;
            justify-content: space-between;

            @include sm {
                a img {
                    height: 25px;
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            column-gap: 4rem;

            @include sm {
                display: none;
            }
            
            a {
                font-size: 2.7rem;
                line-height: 4.1rem;
                color: $azul-escuro;

                &:hover {
                    color: $azul-ciano;
                    font-weight: 700;
                }
            }
        }
    }

    &__icon {
        display: none;

        @include sm {
            display: flex;
        }
    }

    &__mobile {
        position: fixed;
        top: 0;
        left: 0;

        height: 0%;
        width: 100%;
        visibility: hidden;
        opacity: 0; 

        transition: .3s all;
        background-color: $azul-escuro;
        z-index: 9999;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &--open {
            opacity: 1;
            height: 100%;
            transition: .3s all;
            visibility: visible;
        }

        .wrapper {
            margin: 0 auto 91px;        
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 5%;

            a > img {
                width: 181.43px;
            }

            .header__icon {
                width: 26.16px;
                height: 26.16px;
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            font-size: 27px;
            color: $branco;
            text-align: center;

            margin-top: 80px;
            margin-bottom: 97px;

            a:not(:last-of-type) {
                margin-bottom: 50px;
            }
        }
    }
}

.home .header__blue {
    display: block;
}