.hero {
    background-image: url(/assets/images/ilustra-header.svg);
    background-position: 60% 120%;
    background-repeat: no-repeat;
    width: 100%;

    // margin-top: 5rem;
    padding-bottom: 18.892rem;

    position: relative;
    
    @include sm {
        background-image: none;
        background-size: 100%;
    }

    .wrapper {

        @include sm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 170px;
            width: 100%;
        }

        @include mqMax(768) {
            margin-top: 105px;
        }
    }

    figure {
        img {
            display: none;
        }

        @include sm {
            svg {
                display: none;
            }

            img {
                margin: 0 auto;
                display: block;
            }
        }
    }

    p {
        font-size: 3.5rem;
        line-height: 5.5rem;
        max-width: 70%;
        margin: 0 auto 0 4%;
        color: $azul-escuro;

        @include sm {
            max-width: 90%;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            margin: 27px auto 0;
        }
    }

    &__building {
        display: none;
        
        @include sm {
            margin: 0 auto;
            width: 100%;
            display: block;
        }
    }
}