.hero {
    background-image: url(/assets/images/ilustra-header.svg);
    // background-attachment: fixed;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    margin-top: 5rem;

    p {
        font-size: 3.5rem;
        max-width: 83.7rem;
        margin: 0 auto;
        color: $azul-escuro;
    }
}