.template {
    background-image: url(/assets/images/pattern-svg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    
    background-position: center;

    @include mq(1920) {
        background-size: auto;
    }

    @include sm {
        background: transparent linear-gradient(90deg, $azul-ciano 0%, $azul-escuro 100%) 0% 0% no-repeat padding-box !important;
    }

    height: auto;
    width: 100%;

    padding-top: 11.3rem;

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    &--institucional .wrapper {
        @include sm {
            max-width: 100%;
            width: 100%;
        }

        .template__title {
            @include sm {
                font-size: 8rem;
            }

            @include mqMax(1440) {
                margin: 10rem 0 4.8rem;
            }
        }
    }

    &__title {
        font-size: 8.7rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 10.6rem;
        color: $branco;

        margin: 15.7rem 0 4.8rem;
    }

    img {
        margin: 0 auto;
    }

    &--municipio {
        min-height: 85.7rem;
        background-image: url(/assets/images/bg-municipio.svg);
        position: relative;

        &-interna {
            min-height: 67.2rem;
            max-height: 67.2rem;
            background-image: url(/assets/images/bg-municipio-interna.svg);
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            background-image: url(/assets/images/pattern-municipio.svg);
        }

        .wrapper {
            position: relative;
            z-index: 1;

            @include sm {
                max-width: 100%;
                width: 100%;
            }

            > span {
                font-size: 4.5rem;
                color: $branco;
                text-align: center;
                margin-top: 15.7rem;

                @include sm {
                    max-width: 90%;
                    margin: 10% auto 0;
                }
            }
        }
        
        .template__title {
            margin: 1.1rem 0 2.5rem;

            @include sm {
                max-width: 90%;
                margin: 1.1rem auto 2.5rem;
            }
        }

        p {
            font-size: 2.5rem;
            text-align: center;
            color: $branco;
            max-width: 89.5rem;
            margin: 0 auto 28.063rem;

            @include sm {
                max-width: 90%;
                margin: 0 auto 12.063rem;
            }
        }
    }

    &__municipio {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 50%;
        transform: translate(-50%, 115%);

        @include sm {
            flex-wrap: wrap;
            
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);

            width: 100%;
        }

        &--interna {
            position: relative;
            left: initial;
            transform: translateY(-30%);

            @include sm {
                align-items: flex-start;
                transform: translateY(0%);
                margin: 20px auto 55px;
            }

            &-agua {
                a:last-of-type {
                    @include sm {
                        right: initial !important;
                        left: 10%;

                        span {
                            left: initial;
                            right: 0%;
                        }
                    }
                }
            }

            &-esgoto {
                a {
                    &:first-of-type figure {
                        background-image: url(/assets/images/img-esgoto.png) !important;
                    }

                    &:last-of-type {
                        @include sm {
                            right: initial !important;
                            left: 10%;
                        }

                        figure {
                            background-image: url(/assets/images/img-agua.png) !important;
                        }
                    }
                }
            }

            &--semesgoto {
                a:last-of-type {
                    display: none;
                }
            }

            a {
                transform: none !important;

                &:first-of-type {
                    cursor: initial;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include sm {
                        margin-top: 84px;
                    }

                    span {
                        font-size: 7rem;
                        line-height: 7.5rem;
                        text-transform: uppercase;
                        max-width: 52.9rem;
                    }
                }

                &:last-of-type {
                    position: absolute;
                    right: 10%;

                    &:hover {
                        span {
                            left: -100%;

                            @include sm {
                                left: initial;
                                right: -100%;
                            }
                        }
                    }

                    figure {
                        width: 11rem;
                        height: 11rem;
                        z-index: 1;

                        img {
                            max-width: 5rem;
                        }
                    }

                    span {
                        font-size: 2rem;
                        line-height: 2.5rem;
                        margin: 0;
                        max-width: 10.3rem;

                        position: absolute;
                        top: 50%;
                        left: 0%;
                        transform: translateY(-50%);

                        transition: .3s all;

                        @include sm {
                            left: initial;
                            right: 0%;
                        }
                    }
                }
            }
        }

        a {
            position: relative;
            z-index: 1;

            @include sm {
                
            }

            &:first-of-type {
                transform: translateX(5rem);
                
                @include sm {
                    order: 1;
                }
            }

            &:last-of-type {
                transform: translateX(-5rem);

                @include sm {
                    order: 3;
                }
            }

            & > span {
                font-size: 4rem;
                font-weight: 700;
                color: $azul-ciano;
                line-height: 5rem;
                text-align: center;

                max-width: 24rem;
                width: 100%;
                display: block;
                margin: 4.5rem auto 0;

                @include sm {
                    max-width: 20rem;
                }
            }

            &:first-of-type {
                figure {
                    background-image: url(/assets/images/img-agua.png);
                }
            }

            &:last-of-type {
                figure {
                    background-image: url(/assets/images/img-esgoto.png);
                }
            }
        }

        figure {
            width: 32.5rem;
            height: 32.5rem;
            border-radius: 50%;

            @include sm {
                width: 109px;
                height: 109px;
                margin: 0 auto;
            }

            display: flex;
            justify-content: center;
            align-items: center;

            background-position: center center;
            background-size: 150%;
            
            position: relative;

            transition: .3s all;

            &:hover {
                background-size: 170%;
            }

            &::before {
                content: '';
                
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                
                border: .2rem solid $branco;
                border-radius: 50%;
            }

            &::after {
                content: '';

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                border-radius: 50%;

                background: $azul-escuro 0% 0% no-repeat padding-box;
                mix-blend-mode: multiply;
            }

            img {
                position: relative;
                z-index: 1;
                max-width: 16.1rem;

                @include sm {
                    max-width: 54px;
                }
            }
        }

        & > span {
            width: 36.3rem;
            height: 12rem;
            background: transparent linear-gradient(90deg, $vermelho 0%, $laranja 45%, $amarelo 100%) 0% 0% no-repeat padding-box;

            font-size: 3rem;
            color: $branco;
            text-align: center;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            padding: 0 10rem;

            transform: translateY(-50%);

            @include sm {
                width: 100%;
                height: 103px;
                justify-content: center;
                transform: none;
            }
        }
    }

    &__choose {
        position: absolute;
        bottom: 2rem;

        @include sm {
            position: relative;
            margin: 0 1.3rem !important;
            bottom: initial;
            order: 2;
            height: 20px;
            transform: translateY(-50px);
        }
    }
}

.municipio ~ .footer {
    margin-top: 41.2rem;

    @include sm {
        margin-top: 60.2rem;
    }
}