.template {
    background-image: url(/assets/images/pattern-svg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    
    background-position: center;

    @include mq(1920) {
        background-size: auto;
    }

    @include sm {
        background: transparent linear-gradient(90deg, $azul-ciano 0%, $azul-escuro 100%) 0% 0% no-repeat padding-box !important;
    }

    height: auto;
    width: 100%;

    padding-top: 11.3rem;

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 8.7rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 10.6rem;
        color: $branco;

        margin: 15.7rem 0 4.8rem;
    }

    img {
        margin: 0 auto;
    }

    &--municipio {
        min-height: 85.7rem;
        background-image: url(/assets/images/bg-municipio.svg);
        position: relative;

        &-interna {
            min-height: 67.2rem;
            max-height: 67.2rem;
            background-image: url(/assets/images/bg-municipio-interna.svg);
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            background-image: url(/assets/images/pattern-municipio.svg);
        }

        .wrapper {
            position: relative;
            z-index: 1;

            > span {
                font-size: 4.5rem;
                color: $branco;
                text-align: center;
                margin-top: 15.7rem;

                @include sm {
                    margin-top: 10%;
                }
            }
        }
        
        .template__title {
            margin: 1.1rem 0 2.5rem;
        }

        p {
            font-size: 2.5rem;
            text-align: center;
            color: $branco;
            max-width: 89.5rem;
            margin: 0 auto 28.063rem;
        }
    }

    &__municipio {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 50%;
        transform: translate(-50%, 115%);

        &--interna {
            position: relative;
            left: initial;
            transform: translateY(-30%);

            &-esgoto {
                a {
                    &:first-of-type figure {
                        background-image: url(/assets/images/img-esgoto.png) !important;
                    }

                    &:last-of-type figure {
                        background-image: url(/assets/images/img-agua.png) !important;
                    }
                }
            }

            a {
                transform: none !important;

                &:first-of-type {
                    cursor: initial;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        font-size: 7rem;
                        line-height: 7.5rem;
                        text-transform: uppercase;
                        max-width: 52.9rem;
                    }
                }

                &:last-of-type {
                    position: absolute;
                    right: 0;

                    &:hover {
                        span {
                            left: -100%;
                        }
                    }

                    figure {
                        width: 11rem;
                        height: 11rem;
                        z-index: 1;

                        img {
                            max-width: 5rem;
                        }
                    }

                    span {
                        font-size: 2rem;
                        line-height: 2.5rem;
                        margin: 0;
                        max-width: 10.3rem;

                        position: absolute;
                        top: 50%;
                        left: 0%;
                        transform: translateY(-50%);

                        transition: .3s all;
                    }
                }
            }
        }

        a {
            position: relative;
            z-index: 1;

            &:first-of-type {
                transform: translateX(5rem);
            }

            &:last-of-type {
                transform: translateX(-5rem);
            }

            & > span {
                font-size: 4rem;
                font-weight: 700;
                color: $azul-ciano;
                line-height: 5rem;
                text-align: center;

                max-width: 24rem;
                width: 100%;
                display: block;
                margin: 4.5rem auto 0;
            }

            &:first-of-type {
                figure {
                    background-image: url(/assets/images/img-agua.png);
                }
            }

            &:last-of-type {
                figure {
                    background-image: url(/assets/images/img-esgoto.png);
                }
            }
        }

        figure {
            width: 32.5rem;
            height: 32.5rem;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            background-position: center center;
            background-size: 150%;
            
            position: relative;

            transition: .3s all;

            &:hover {
                background-size: 170%;
            }

            &::before {
                content: '';
                
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                
                border: .2rem solid $branco;
                border-radius: 50%;
            }

            &::after {
                content: '';

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                border-radius: 50%;

                background: $azul-escuro 0% 0% no-repeat padding-box;
                mix-blend-mode: multiply;
            }

            img {
                position: relative;
                z-index: 1;
                max-width: 16.1rem;
            }
        }

        & > span {
            width: 36.3rem;
            height: 12rem;
            background: transparent linear-gradient(90deg, $vermelho 0%, $laranja 45%, $amarelo 100%) 0% 0% no-repeat padding-box;

            font-size: 3rem;
            color: $branco;
            text-align: center;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            padding: 0 10rem;

            transform: translateY(-50%);
        }
    }

    &__choose {
        position: absolute;
        bottom: 2rem;
    }
}

.municipio ~ .footer {
    margin-top: 41.2rem;
}

.conteudo-institucional {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        max-width: 1170px;
        margin: 10.1rem auto 15.7rem;
    }

    &__maisagua {
        font-size: 7.5rem;
        line-height: 10.5rem;
        color: $azul-escuro;

        max-width: calc(50% - 10.3rem);

        strong {
            font-weight: 700;

            i {
                color: $azul-ciano;
                font-style: normal;
            }
        }
    }

    article {
        max-width: 50.8rem;

        h3 {
            font-size: 6rem;
            line-height: 7rem;
            color: $amarelo;

            max-width: 33.7rem;
            margin-bottom: 2.4rem;
        }

        p {
            font-size: 2.5rem;
            color: $azul-escuro;
            line-height: 3.5rem;

            strong {
                font-weight: 700;
            }
        }
    }

    .circle-img {
        max-width: 51.9rem;
        width: 100%;
        height: 51.9rem;

        border-radius: 50%;
        margin: 2.7rem 13rem 0 0;
    }

    .ornamento {
        position: absolute;
        top: 124%;
        left: 0;

        max-width: 58rem;
    }

    .canais-atendimento {
        max-width: 50.8rem;
        width: 100%;
        margin-top: 7.6rem;

        h4 {
            font-size: 2.6rem;
            font-weight: 700;
            color: $azul-ciano;
            margin-bottom: 3.3rem;
        }

        &__contato {
            display: flex;
            align-items: center;
            margin-bottom: 3.3rem;

            a {
                height: 5rem;
                width: 5rem;

                &:first-of-type {
                    margin-right: .5rem;
                }

                &:last-of-type {
                    margin-right: 1.3rem;
                }
            }
        }

        span {
            font-size: 2rem;
            line-height: 2.8rem;
            color: $azul-escuro;
        }

        & > span {
            display: flex;
            align-items: center;

            margin-bottom: 3.3rem;

            img {
                margin-right: 2rem;
            }

            a {
                width: 100%;
            }
        }
    }
}